* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}
.materhead {
    height: 1000px;
}
.about {
    height: 890px;
}
.contact {
    height: auto;
}
.team {
    height: 850px;
}
.jobs{
    height:850px;
}
.footer {
    height: 25px;
}
section {
    width: 100%;
    float: left;
    height: auto;
    position: relative;
}
/*  Create a fixed postion so you can't scrol while menus are open*/
 .fixed-position {
    position: fixed;
 }
  .free-position {
      position: auto;
  }
#navbar {
    background: white;
    color: rgb(13, 26, 38);
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
}

.nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
}

@media(max-width: 768px) {
    .nav-wrapper {
        width: 90%;
    }
}

@media(max-width: 638px) {
    .nav-wrapper {
        width: 100%;
    }
}


.logo {
    float: left;
    margin-left: 28px;
    font-size: 1.5em;
    height: 60px;
    letter-spacing: 1px;
    
}

@media(max-width: 768px) {
    .logo {
      margin-left: 5px; 
    }
}

#navbar ul {
    display: inline-block;
    float: right;
    list-style: none;
    /* margin-right: 14px; */
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
}

@media(max-width: 640px) {
    #navbar ul {
        display: none;
    }
}

@media(orientation: landscape) {
    #navbar ul {
        display: inline-block;
    }
}

#navbar li {
    display: inline-block;
}

#navbar li a {
    color: rgb(13, 26, 38);
    display: block;
    font-size: 0.7em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    transition: all 0.5s ease;
    font-weight: bold;
    -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
    color: #4169e1;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

#navbar li a:before,
#navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(255, 255, 255);
}

#navbar li a:before {
    left: 0;
    transition: 0.5s;
}

#navbar li a:after {
    background: rgb(0, 0, 0);
    right: 0;
   
}

#navbar li a:hover:before {
    background: rgb(26, 6, 23);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
    background: transparent;
    width: 100%;

}



/*
                    Mobile Menu Menu Icon created by Colby Friedman ( I suck at animations sorry)
  */
@media(max-width: 640px) {
    .nav-icon {
        cursor: pointer;
        display: block;
        position: fixed;
        right: 15px;
        top: 20px;
        height: 23px;
        width: 27px;
        z-index: 12;
    }

    .icon-bars {
        background: rgb(13, 26, 38);
        position: absolute;
        left: 1px;
        top: 45%;
        height: 2px;
        width: 20px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .icon-bars::before {
        background: rgb(13, 26, 38);
        content: '';
        position: absolute;
        left: 0;
        top: -8px;
        height: 2px;
        width: 20px;
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    .icon-bars::after {
        margin-top: 0px;
        background: rgb(13, 26, 38);
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        height: 2px;
        width: 20px;
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    .icon-bars.overlay {
    background: rgb(147, 7, 240);
        background: rgb(120, 11, 209);
        width: 20px;
        animation: middleBar 3s infinite 0.5s;
        -webkit-animation: middleBar 3s infinite 0.5s;
    }

    @keyframes middleBar {
        0% {
            width: 0px
        }

        50% {
            width: 20px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes middleBar {
        0% {
            width: 0px
        }

        50% {
            width: 20px
        }

        100% {
            width: 0px
        }
    }

    .icon-bars.overlay::before {
    background: rgb(147, 7, 240);
        background: rgb(120, 11, 209);
        width: 10px;
        animation: topBar 3s infinite 0.1s;
        -webkit-animation: topBar 2s infinite 0s;
    }

    @keyframes topBar {
        0% {
            width: 0px
        }

        50% {
            width: 10px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes topBar {
        0% {
            width: 0px
        }

        50% {
            width: 10px
        }

        100% {
            width: 0px
        }
    }

    .icon-bars.overlay::after {
        background: rgb(147, 7, 240);
        background: rgb(120, 11, 209);
        width: 15px;
        animation: bottomBar 3s infinite 1s;
        -webkit-animation: bottomBar 3s infinite 1s;
    }

    @keyframes bottomBar {
        0% {
            width: 0px
        }

        50% {
            width: 15px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes bottomBar {
        0% {
            width: 0px
        }

        50% {
            width: 15px
        }

        100% {
            width: 0px
        }
    }


    /* Toggle Menu Icon */
    .nav-icon.toggle .icon-bars {
        top: 5px;
        transform: translate3d(0, 5px, 0) rotate(135deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .nav-icon.toggle .icon-bars::before {
        top: 0;
        transition-delay: 0.1s;
        opacity: 0;
    }

    .nav-icon.toggle .icon-bars::after {
        top: 10px;
        transform: translate3d(0, -10px, 0) rotate(-270deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .nav-icon.toggle .icon-bars.overlay {
        width: 20px;
        opacity: 0;
        -webkit-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
    }
}



.overlay-menu {
    background: #4169e1;
    color: rgb(237, 246, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}

.overlay-menu ul,
.overlay-menu li {
    display: block;
    position: relative;
}

.overlay-menu li a {
    display: block;
    font-size: 1.8em;
    letter-spacing: 4px;
    padding: 10px 0;
    text-align: right;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
    color: #95a4cc;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

/* End of Nav bar*/






/* Main Body */

.BigText {
        top:35%;
        position: relative;
        text-align: center;
        color: rgb(10, 10, 10);
        width: auto;
        white-space: nowrap;
        font-size: 92px;
}
.SmallText {
    top: 37%;
    position: relative;
    text-align: center;
    color: rgba(10, 10, 10, 0.233);
    width: auto;
    white-space: nowrap;
    font-size: 32px;
}



/* Centered Button */


.button {
    top:50%;
    border: none;
    color: white;
    padding: 16px 32px;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.4s;
    cursor: pointer;
    width: 10%;
    border-radius: 10px;
}
.center {
    top: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button1 {
    width: 100px;
    font-size: auto;
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid #751b8b;
    border-radius: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
   
}

.button1:hover {
    background-color: #751b8b;
    color: white;
}


/* ABOUT US  */
.HeaderText {
    top:25%;
    font-size: 45px;
    color: rgb(10, 10, 10);
    text-align: center;
    position: relative;
}
.HeaderTextTop{
    top:2%;
        font-size: 45px;
        color: rgb(10, 10, 10);
        text-align: center;
        position: relative;
}
.BodyText {
    top: 25%;
    font-size: 25px;
    color: rgba(10, 10, 10, 0.658);
    text-align: center;
    position: relative;
    width: 450px;
    margin: auto;
    
}
/* CONTACT US  */

/* OUR TEAM  */

.wrapper {
    position: relative;
    width: 100%;
    padding: 4em;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
/* CARDS*/
.card {
    position: reative;
    display: inline-block;
    background: #c4c2c267;
    border: 5px solid rgba(105, 99, 99, 0.082);
    width: 300px;
    margin: 20px 25px;
    min-width: 275px;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 14px;
}
.card:hover {
    box-shadow: 0 25px 16px 0 rgba(0, 0, 0, 0.2);

}
.card__header {
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    height: 175px;
    width: 100%;

}
    .card__user__image {
        position: absolute;
        display: inline-block;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -45px;
        
        height: 120px;
        width: 120px;
        padding: 10px;
        border-radius: 50%;
        overflow: hidden;


}
                .card__user__avatar {
                    background: url('');
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
.card__text__container {
    
    padding: 2.5em 1.25em;
    text-align: center;
}
    .card__text__user {
        margin: 0;
        padding-top: 1.5em;
        font-size: 26px;
        text-align: center;
        font-weight: 900;
    }

    .card__text__job {
        margin: 0;
        padding-top: .75em;
        font-size: 13px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
    }

    .card__text__about {
        margin: 0;
        padding: 1.5em .75em;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        font-weight: 500;
        color: rgba(0, 0, 0, .45)
    }




@media screen and (max-width: 350px) {
    .wrapper {
        padding: 3em 1.2em;
    }

    .card {
        min-width: 100%;
        max-width: 100%;
    }
}


.Box{
    top: 35%;
position: relative;
    height: 75px;
    width: 450px;
    left: 10px;
    background-color: rgba(62, 59, 240, 0);
    opacity: .9;
    border: 1px solid black;
    border-radius: 10px;
    }

.textButton {
    background-color: #4f6499;
    border-radius: 5px;
    width: 20%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    font-size: 25px;
    border-spacing: 15px;
    left:  50%;
    top: 30%;
    padding: 5px;
}

.TitleDESC {
    color: #000000;
    text-align: center;
    position: relative;
    left: 25%;
    top: 15%;
}
.TitleJob {
    color: #000000;
    position: relative;
    font-size: 25px;
    left: 5%;
}
